@media screen {
  /*and (min-width: 1360px) */
    
  body {
    margin: 0;
    /* Обнуление отступов */
    padding: 0;
    background-color: #f2f4f6;
  }

  .h-content {
  	font-family: 'Roboto', sans-serif;
  	font-size: 18px;
  	color: #505050;
  	font-weight: 300;
  }