// colors
$dark: #3a3d41;

$grey-light: #f2f4f6;
$grey-light-plus: #757575;
$grey-dark: #616161;

$brown-light: #a1887f;

//$blue-light: #CCCCFF;
$blue: #26c6da;
//$blue-dark: #330066;

//$green-main: #26a69a;
//$green-mainL: #64d8cb;
//$green-mainD: #00766c;
//$green-second: #00796b;
//$green-secondL: #48a999;
//$green-secondD: #004c40;
//
//$red: #ff6a6a;


// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic,cyrillic-ext');

$fontMain: "Roboto", sans-serif;
$fontHead: "Georgia", serif;