@media screen {
  /*and (min-width: 1360px) */
  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/AvenirNextCyr-Regular.eot');
    src: url('../fonts/avenir/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/avenir/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  body {
    margin: 0;
    /* Обнуление отступов */
    padding: 0;
  }
  .h-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em;
  }
  .h-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .h-header-logo {
    align-self: flex-start;
  }
  .h-header-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .h-header-set-ratio select {
    width: 5em;
  }
  .h-header-set-dmark select {
    width: 5em;
  }
  .h-header-set-rounding select {
    width: 5em;
  }
  .h-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .h-content-row-left,
  .h-content-row-right {
    width: 31%;
  }
  .h-content-row-left ul {
    padding: 0;
    text-align: left;
  }
  .h-content-input input {
    width: 5em;
    text-align: center;
  }
  .h-content-row-right ul {
    padding: 0;
    text-align: right;
  }
}
